/* ProductImageCarousel.css */
.product-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
}

.carousel-dots {
  margin-top: 10px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.thumbnail.active {
  border-color: #007bff;
}
