.dashboard-input {
  background-color: transparent;
  border: 1px solid white;
  color: white !important;
  border-radius: 0%;
  margin-block-end: 1em;
}

.dashboard-input:focus {
  outline: none;
  border: 2px solid red;
  background-color: transparent;
  color: white;
  box-shadow: none;
}

.dashboard-input::placeholder {
  color: white;
}

/*media query for mobile*/
@media only screen and (max-width: 860px) {
  .dashboard-input {
    margin-block-end: 1em;
  }
}

.dashboard-input:disabled {
  background-color: grey;
  cursor: not-allowed;
}
